/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, src/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, src/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, src/_reset.scss */
body {
  line-height: 1;
}

/* line 34, src/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, src/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, src/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, src/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, src/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 54, src/_reset.scss */
hr {
  display: none;
}

@font-face {
  font-family: "RabioheadRegular";
  src: url("/fonts/rabiohead-webfont.eot");
  src: url("/fonts/rabiohead-webfont.eot?iefix") format("embedded-opentype"), url("/fonts/rabiohead-webfont.woff") format("woff"), url("/fonts/rabiohead-webfont.ttf") format("truetype"), url("/fonts/rabiohead-webfont.svg#webfontRabioheadRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, src/_general.scss */
body {
  background: #fcfcfc url(/images/body-bg-grid.gif) repeat 20%;
  color: #4d4d4d;
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 100%;
}

/* line 8, src/_general.scss */
-moz-::selection {
  background-color: #d2ff00;
  color: #000;
}

/* line 13, src/_general.scss */
::selection {
  background-color: #d2ff00;
  color: #000;
}

/* line 1, src/_banner.scss */
[role='banner'] {
  background: transparent url(/images/branding-large.png) no-repeat right top;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  max-width: 1180px;
  padding-top: 19%;
  text-indent: -300em;
  width: 98%;
}

/*
header[role='banner'] {
	
	width: 100%;
	
	h1 {
		background: transparent url(/images/branding.png) no-repeat left top;
		@include background-size('90%');
		margin-bottom: -4.5%;
		max-width: 1000px;
		padding-top: 16%;
		position: relative;
		text-indent: -300em;
		width: 100%;
		z-index: 100;
	}
	
	h2, h3 {
		background-color: #424242;
		color: #f8f8f8;
		font-family: 'Ostrich Sans';
		font-size: 3.5em;
		-webkit-font-smoothing: antialiased;
		font-weight: 800;
		letter-spacing: 0.03em;
		line-height: 0.76em;
		padding: 0.15em 0 0 0.1em;
	}
	
	h2 {
		color: $highlightColor;
		font-size: 2.8em;
		margin-bottom: 0.15em;
	}
}

header[role='banner']:before {
	background: transparent url(/images/banner-lyceum.png) no-repeat left top;
	@include background-size('100%');
	content: " ";
	display: block;
	max-width: 747px;
	position: absolute;
	right: 0;
	margin-top: 8%;
	height: 449px;
	width: 48%;
	z-index: 90;
}
*/
/* line 1, src/_intro.scss */
.intro {
  color: #4d4d4d;
  font: 2em/1em "RabioheadRegular", helvetica, arial, sans-serif;
  position: relative;
  top: -1em;
  width: 65.625%;
}

/*
#nav-main {
	border-top: 8px solid #424242;
	border-bottom: 15px solid #424242;
	font-family: 'Ostrich Sans';
	font-weight: 800;
	margin-top: 3%;
	padding-top: 0.4em;
	
	li {
		display: inline-block;
		font-size: 2.8em;
		margin-right: 3.3%;
	}
	
	a {
		color: #323d4d;
		display: inline-block;
		text-decoration: none;
		line-height: 0.5em;
		
		&:hover {
			background-color: $highlightColor;
		}
	}
	
	.register-link {
		background-color: $highlightColor;
		line-height: 0.8em;
		
		a {
			color: #262626;
			
			&:hover {
				color: #000;
			}
		}
	}
}
*/
/*
footer[role="contentinfo"] {
	
	margin-top: 1.2em;
	
	div {
		color: #f8f8f8;
		background-color: #424242;
		padding: 0.4em 0.6em;
	}
	
	h1 {
		font-family: 'Ostrich Sans';
		font-size: 2.2em;
		-webkit-font-smoothing: antialiased;
		font-weight: 800;
		letter-spacing: 0.03em;
	}
}
*/
