[role="banner"] {
    background-color: #fafafa;
    color: #f1f1f1;
    max-width: $maxWidth;
    overflow: hidden;
    padding-top: 0.8em;
    text-align: center;

    h1 a {
        &:hover {
            background-color: transparent;
        }
    }

    @media screen and (min-width: 630px) {
        margin: 0 auto;
        padding-top: 0;
        width: 95%;

        h1 {
            display: inline-block;
            float: left;
            margin-top: 0.65em;
        }
    }
}