body {
    background-color: #fafafa;
    color: #3c444d;
    @include sansSerif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #4c77a8;
    text-decoration: none;
}

::selection {
    background-color: #68b081;
    color: #f1f1f1;
}