body {
    background-color: #fafafa;
    color: #3c444d;
    @include sansSerif;
    -webkit-font-smoothing: antialiased;
}

a {
    color: blue;

    &:hover {
        background-color: rgba(lightblue, 0.5);
    }
}

::selection {
    background-color: #68b081;
    color: #f1f1f1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        body:after {
            content: "high-dpi";
            display: none;
        }
}