@mixin home-hero {
    .page-home & {
        @content;
    }
}

@mixin details-hero {
    .page-details & {
        @content;
    }
}

@mixin location-hero {
    .page-location & {
        @content;
    }
}

.hero {
    background: #232b38 image-url("hero-bg-01.png") no-repeat center 30%;
    @include background-size("200%");
    color: #fff;
    padding: 1.2em 1em 1.4em 1em;
    text-align: center;

    h1 {
        @include slabSerif;
        font-size: 2em;
        font-weight: 400;
        line-height: 1.2;
        margin: 0 auto;
        max-width: $maxWidth;
    }

    p {
        color: darken(#fff, 8%);
        font-size: 1.2em;
        line-height: 1.2;
        margin: 0 auto;
        max-width: 990px;
        width: 80%;
    }

    h2 {
        background-color: #68b081;
        display: inline-block;
        font-size: 1.2em;
        font-style: italic;
        letter-spacing: 0.1em;
        margin-top: 1em;
        text-transform: uppercase;

        sup {
            font-size: 0.6em;
            vertical-align: super;
        }

        span {
            display: block;
            padding: 0 0.2em;
        }
    }

    @include details-hero {
        background-image: image-url("hero-bg-02.png");
    }

    @include location-hero {
        background-image: image-url("hero-bg-03.png");
    }

    @media screen and (min-width: 630px) {
        @include background-size("120%");
        padding: 2em 1em 2.2em 1em;

        h1 {
            font-size: 2.6em;
        }

        p {
            font-size: 1.8em;
        }

        @include home-hero {
            @include background-size("180%");
            padding: 3em 1em 3.2em 1em;

            h1 {
                font-size: 3.6em;
            }

            h2 {
                font-size: 1.6em;
            }
        }
    }

    @media screen and (min-width: 960px) {
        @include home-hero {
            @include background-size("120%");
        }
    }

    @media screen and (min-width: 1000px) {
        @include background-size("100%");
    }
}