[role="main"] {
    margin: 0 auto;
    max-width: $maxWidth;
    padding-top: 1.6em;
    width: 90%;

    h1 {
        background-color: #1f2530;
        border-left: 1px solid #fafafa;
        box-shadow: -3px 0 0 #1f2530;
        color: #fff;
        display: inline-block;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.2;
        margin: 0.9em 0 0.5em 0;
        padding: 0 0.25em;
        text-transform: uppercase;
    }

    section {
        line-height: 1.35;
        overflow: hidden;
        padding: 0em 0 2.5em 0;
        text-align: left;

        & > div {
            margin-bottom: 1.4em;
        }

        p {
            padding-bottom: 1em;
        }

        img {
            box-shadow: -3px 3px 0 darken(#f6f6f6, 5%);
            display: block;
            height: auto;
            width: 100%;
        }
    }

    sup {
        font-size: 0.6em;
        vertical-align: super;
    }

    @media screen and (min-width: 630px) {
        section {
            padding: 1.3em 0 1.6em 0;
            text-align: right;

            & > div {
                float: left;
                margin-bottom: 0;
                width: calc-percent(435, 992);
            }

            img {
                float: right;
                width: calc-percent(507, 992);
            }
        }
    }
}