.nav-main {
    border-top: 1px solid lighten(#ccc, 15%);
    margin-top: 0.5em;

    a {
        color: #03080f;
        display: block;
        letter-spacing: 0.1em;
        padding: 0.6em 0;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;

        &:hover {
            background-color: darken(#fff, 5%);
            color: blue;
        }
    }

    li:last-child {
        position: relative;

        p {
            background-color: #202632;
            @include box-sizing("border-box");
            font-size: 0.75em;
            height: 100%;
            line-height: 1.2;
            opacity: 1;
            padding: 0.6em 0.5em 0 0.5em;
            position: absolute;
            top: 0;
            @include transition-property("top");
            @include transition-duration("0.1s");
            right: 0;
            width: 100%;
            z-index: 1;

            &.hidden {
                top: 50em;
            }
        }

        a {
            background-color: #68b081;
            color: #f1f1f1;
            font-weight: 600;

            &:hover {
                background-color: darken(#68b081, 5%);
            }
        }
    }

    @media screen and (min-width: 630px) {
        border-top: 0;
        display: inline-block;
        float: right;
        margin-top: 0;

        li {
            float: left;
            margin-left: 0.9em;
        }

        a {
            display: inline-block;
            padding: 1.4em 0.8em 1.3em 0.8em;
            width: auto;

            &:hover {
                background-color: transparent;
            }
        }
    }
}

.page-details [href*="details"],
.page-location [href*="location"] {
    background-color: darken(#fff, 5%);
    color: blue;

    @media screen and (min-width: 630px) {
        background-color: transparent;
    }
}