RewriteEngine On
#RewriteRule ^([A-Za-z0-9]+)$ $1.html [L]

# Make it 2011
RewriteRule ^$ /2011 [L,R]
RewriteRule ^2011/$ /2011 [L,R=301]
RewriteRule ^2011$ /index.html [L]

RewriteRule ^2011/(.+) /$1 [L]
