.sad-extra-div-for-odd-clear-is-sad {
	clear: both;
	width: 100%;
}

.about-new-conference {
	@media screen and (min-width: 570px) {
		float: left;
		width: 57.2916667%;
	}
}

.about-hosts {
	
	h1 {
		margin: 0.5em auto 0 auto;
		width: 95%;
	}
	
	p {
		line-height: 1em;
		font-size: 1.1em;
		margin: 0.5em auto 0.7em auto;
		width: 95%;
	}
	
	.postIt {
		padding-bottom: 6%;
		@include rotate(-.5deg);
		
		@media screen and (min-width: 570px) {
			margin-top: 1em;
		}
	}
	
	.polaroid {
		margin-left: 2%;
		top: -1.5em;
		@include rotate(-1.5deg);
		width: 44%;
		z-index: 2;
		
		&.alt {
			float: right;
			margin-right: 4%;
			top: -2em;
			@include rotate(1.5deg);
		}
		
		figcaption {
			font-size: 1.4em;
			text-align: center;
		}
		
		@media screen and (min-width: 570px) {
			margin-left: 4.05641026%;
			width: 36.625%;

			&.alt {
				margin-left: 0;
				margin-right: 14.95641026%;
			}
		}
	}
	
	@media screen and (min-width: 570px) {
		float: right;
		width: 40.625%;
		
		.postIt {
			margin-left: 1%;
			float: none;
			width: 85%;
		}
	}
}