.sad-extra-div-for-odd-clear-is-sad {
	clear: both;
	width: 100%;
}

.about-new-conference {
	@media screen and (min-width: 570px) {
		float: left;
		width: 57.2916667%;
	}
}

.about-hosts {
	
	p {
		line-height: 1em;
		margin: 0.5em 0;
	}
	
	@media screen and (min-width: 570px) {
		float: right;
		width: 40.625%;
		
		& > div {
			float: none;
			width: 90%;
		}
		
		p {
			font-size: 0.9em;
			width: 90%;
		}
		
	}
}