[role='banner'] {
	background: transparent url(/images/branding-large.png) no-repeat right top;
	@include background-size('100%');
	max-width: 1180px;
	padding-top: 19%;
	position: relative;
	text-indent: -300em;
	width: 95%;
	z-index: 90;
}