#conferenceinfo {
	
	margin: 0 auto;
	position: relative;
	width: 95%;
	
	h2 {
		color: #d2ff00;
		@include ostrichBlack(3em, 0.8em);
		;
	}
	
	h3 {
		color: #757575;
		@include ostrichMedium(1.2em, 0.8em);
		letter-spacing: 0.38em;
		text-indent: 0.05em;
	}
	
	a {
		background-color: #d2ff00;
		border-bottom: 1px solid #829a00;
		@include border-radius(4px);
		padding-top: 0.25em;
		padding-left: 0.3em;
		padding-right: 0.3em;
		color: #262626;
		display: block;
		@include ostrichBlack(2.5em);
		text-align: center;
		
		&:hover {
			text-decoration: none;
		}
		
		b {
			line-height: 0.8em;
			font-weight: normal;
			@include text-shadow(rgba(255, 255, 255, 0.8), 1px, 1px, 1px);
		}
		
		i {
			color: #666;
			display: none;
			@include rabiohead(0.8em);
		}
	}
	
	@media screen and (min-width: 570px) {
		margin: 0;
		width: 100%;
		
		h2 {
			width: 57.2916667%
		}
		
		h3 {
			width: 57.2916667%;
		}
		
		a {
			background: transparent url(/images/register-btn.png) no-repeat center;
			border-bottom: 0;
			font-size: 2em;		
			height: 133px;
			padding-top: 0;
			position: absolute;
			left: 57.2916667%;
			top: -0.8em;
			@include rotate(8deg);
			width: 133px;

			&:hover {
				text-decoration: none;
				@include rotate(2deg);
			}

			b {
				border-bottom: 4px solid #262626;
				display: inline-block;
				margin-top: 1.4em;
			}

			i {
				display: block;
				font-size: 0.8em;
				margin-top: 0.2em;
			}
		}
	}
	/*
	@media screen and (min-width: 321px) {
		h2 {
			font-size: 3em;
		}
		
		h3 {
			font-size: 1.2em;
		}
	}
	
	@media screen and (min-width: 460px) {
		h2 {
			font-size: 3.8em;
		}
	}
	*/
	@media screen and (min-width: 570px) {
		&:before {
			background: transparent url(/images/buildings-large.png) no-repeat 5em -2em;
			@include background-size('105%');
			content: " ";
			display: inline-block;
			height: 500px;
			max-width: 479px;
			position: absolute;
			top: -15em;
			right: 0;
			width: 100%;
		}
	}
}