#details {
	
	@media screen and (min-width: 630px) {
		& > div {
			background: transparent url(/images/bg-ghost-02.png) no-repeat right -12px;
		}
	}
		
	section p {
		float: right;
		margin-right: 2%;
		width: 57.2916667%;
	}
	
	aside {
		@extend .postIt;
		float: left;
		margin-left: 2%;
		width: 23.9583333%;
	}
	
	.alt {
		p {
			float: left;
		}
		
		aside {
			float: right;
			margin-left: 0;
			margin-right: 4%;
			@include rotate(2deg);
		}
	}
}