#details {
	
	@media screen and (min-width: 630px) {
		& > div {
			background: transparent image-url("bg-ghost-02.png") no-repeat right -12px;			
		}
	}
	
	[role="main"] > section h1 {
		margin-bottom: 0.4em;
	}
	
	section p, section div {
		
		@media screen and (min-width: 570px) {
			float: right;
			margin-right: 2%;
			width: 57.2916667%;
		}
	}
	
	section div {
		overflow: hidden;
		padding-bottom: 1em;
		
		p {
			float: none;
			margin-right: 0;
			width: 100%;
		}
		
		@media screen and (min-width: 570px) {
			padding-bottom: 0;
		}
	}
	
	aside {
		@extend .postIt;
		@include rotate(0deg);
		clear: both;
		width: 95%;
		
		@media screen and (min-width: 570px) {
			clear: none;
			float: left;
			margin-left: 2%;
			width: 23.9583333%;
		}
	}
	
	.alt {
		p {
			float: left;
		}
		
		aside {
			margin-left: 0;
			
			@media screen and (min-width: 570px) {
				float: right;
				margin-right: 4%;
				@include rotate(2deg);
			}
		}
	}
	
	.alt div {
		float: left;
	}
}