#details {
	
	& > div {
		background: transparent url(/images/bg-ghost-02.png) no-repeat right -12px;
	}
	
	section {
		margin: 1.4em 0 1em 0;
		overflow: hidden;
		padding-top: 1em;
		padding-right: 2.0416667%;
		
		h1 {
			margin-bottom: 0.5em;
		}
	}
	
	section:first-child {
		margin-top: 1.8em;
	}
		
	section p {
		float: right;
		width: 57.2916667%;
	}
	
	aside {
		background-color: #fff;
		@include border-radius(1px);
		@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 4px);
		color: #929292;
		float: left;
		@include rabiohead(1.3em);
		margin-left: 2%;
		padding: 1%;
		@include rotate(-1deg);
		width: 23.9583333%;
		
		&:before {
			@extend .tape;
		}
	}
	
	.alt {
		p {
			float: left;
		}
		
		aside {
			float: right;
			margin-left: 0;
			margin-right: 2%;
		}
	}
}