footer[role="contentinfo"] {
	
	margin-top: 1.2em;
	
	div {
		color: #f8f8f8;
		background-color: #424242;
		padding: 0.4em 0.6em;
	}
	
	h1 {
		font-family: 'Ostrich Sans';
		font-size: 2.2em;
		-webkit-font-smoothing: antialiased;
		font-weight: 800;
		letter-spacing: 0.03em;
	}
}