body {
	background: #fcfcfc url(/images/body-bg-grid.gif) repeat 25%;
	border-top: 10px solid #2e2e2e;
	color: #4d4d4d;
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 100%;
	
	@media screen and (min-width: 630px) {
		border-top-width: 14px;
	}
}

-moz-::selection {
	background-color: #d2ff00;
	color: #000;
}

::selection {
	background-color: #d2ff00;
	color: #000;
}

body > div {
	float: right;
	width: 100%;
	
	@media screen and (min-width: 630px) {
		width: 94%;
	}
}

a {
	color: #275dad;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

mark {
	background-color: rgba(208, 255, 0, 0.3);
}

.tape {
	background: transparent url(/images/people-tape.png) no-repeat left top;
	content: " ";
	display: inline-block;
	height: 25px;
	left: 40%;
	position: absolute;
	top: -12px;
	@include rotate(8deg);
	width: 47px;
}