body {
	background-color: #fcfcfc; 
	background-image: url(/images/body-bg-grid.gif);
	background-repeat: repeat;
	background-position: 25%;
	border-top: 8px solid #2e2e2e;
	color: #4d4d4d;
	font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
	font-size: 100%;
	
	@media screen and (min-width: 630px) {
		border-top-width: 14px;
	}
}

::selection {
	background-color: #d2ff00;
	color: #000;
}

body > div {
	float: right;
	max-width: 1280px;
	width: 100%;
	
	@media screen and (min-width: 630px) {
		width: 94%;
	}
}

a {
	color: #275dad;
	text-decoration: none;
	
	&:hover {
		text-decoration: underline;
	}
}

mark {
	background-color: rgba(208, 255, 0, 0.3);
}

.polaroid {
	background-color: #fff;
	@include border-radius(1px);
	@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 4px);
	display: inline-block;
	margin-top: 0.8em;
	padding: 1.5% 0;
	position: relative;
	@include rotate(0.4deg);
	width: 95%;
	
	img {
		display: block;
		margin: 0 auto;
		width: 97%;
	}
	
	figcaption {
		color: #153285;
		@include rabiohead(1.2em);
		padding: 2% 2% 0.5% 3%;
	}
	
	&:before {
		@extend .tape;
		left: 45%;
		top: -10px;	
	}
	
	@media screen and (min-width: 570px) {
		float: left;
		margin-left: .95641026%;
		padding: 0.75% 0;
		width: 39.625%;
		
		&.alt {
			float: right;
			margin-left: 0;
			margin-right: .95641026%;
		}
	}
}

.tape {
	background: transparent url(/images/people-tape.png) no-repeat left top;
	content: " ";
	display: inline-block;
	height: 25px;
	left: 40%;
	position: absolute;
	top: -12px;
	@include rotate(8deg);
	width: 47px;
	z-index: 2;	
}

.postIt {
	@include background(linear-gradient(#fcfae2 2px, #edebc6 10px, #fcfae2 18px));
	@include border-radius(1px);
	@include single-box-shadow(rgba(0, 0, 0, 0.15), 0, 3px, 2px);
	color: #183070;
	@include rabiohead(1.3em);
	padding: 1.4% 1.8% 1.2% 1.8%;
	@include rotate(-1deg);
	
	h1 {
		@include rabiohead(1.2em);
	}
}