.intro {
	color: #757575;
	@include rabiohead(2em);
	margin: 0 auto -0.2em auto;
	position: relative;
	top: -1em;
	width: 90%;
	z-index: 99;
	
	@media screen and (min-width: 630px) {
		margin: 0 0 -0.2em 0;
		top: -1.25em;
		width: 63.625%;
	}
}