#location {
		
	@media screen and (min-width: 570px) {
		& > div {
			background: transparent url(/images/bg-ghost-01.png) no-repeat right -12px;
		}
	}
}

.location {
		
	h2 {
		@include rabiohead(1.45em);
		margin: -0.4em 0 0.4em 0;
	}
	
	.polaroid {
		padding: 63.8% 0 0 0;
	}
	
	@media screen and (min-width: 570px) {
		.polaroid {
			padding: 26.5% 0 0 0;
		}
	}
	
	li {
		@include animation-duration(24s);
		@include animation-iteration-count(infinite);
		left: 1.6%;
		margin: 0 auto;
		opacity: 0;
		position: absolute;
		top: 1.7%;
		width: 97%;
	}
	
	li:first-child {
		@include animation-name(slideOne);
		opacity: 1;
	}
	
	li:nth-of-type(2) {
		@include animation-name(slideTwo);
	}
	
	li:nth-of-type(3) {
		@include animation-name(slideThree);
	}
	
	li:nth-of-type(4) {
		@include animation-name(slideFour);
	}
	
	li:nth-of-type(5) {
		@include animation-name(slideFive);
	}
	
	li:nth-of-type(6) {
		@include animation-name(slideSix);
	}
	
	img {
		width: 100%;
	}
}

.directions {
	
	ul {
		clear: both;
		font-size: 0.9em;
		margin-top: 0.5em;
		
		@media screen and (min-width: 570px) {
			width: 85%;
		}
	}
	
	li {
		list-style: square inside;
		margin-top: 0.8em;
	}
}

.line {
	@include border-radius(12px);
	display: inline-block;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	width: 1.5em;
	
	&.r {
		background-color: #fddd00;
		color: #000;
	}
	
	&.f {
		background-color: #fc9508;
		color: #fff;
	}
	
	&.g {
		background-color: #94c600;
		color: #fff;
	}
}

@-webkit-keyframes slideOne {
	0%, 15% { opacity: 1; }
	17%, 97% { opacity: 0; }
	98%, 100% { opacity: 1; }
}

@-webkit-keyframes slideTwo {
	0%, 15% { opacity: 0;}
	17%, 32% { opacity: 1; }
	33%, 100% { opacity: 0; }
}

@-webkit-keyframes slideThree {
	0%, 32% { opacity: 0; }
	34%, 49% { opacity: 1; }
	50%, 100% { opacity: 0; }
}

@-webkit-keyframes slideFour {
	0%, 49% { opacity: 0; }
	51%, 66% { opacity: 1; }
	67%, 100% { opacity: 0; }
}

@-webkit-keyframes slideFive {
	0%, 66% { opacity: 0; }
	68%, 83% { opacity: 1; }
	84%, 100% { opacity: 0; }
}

@-webkit-keyframes slideSix {
	0%, 83% { opacity: 0; }
	85%, 98% { opacity: 1; }
	99%, 100% { opacity: 0; }
}

@-moz-keyframes slideOne {
	0%, 15% { opacity: 1; }
	17%, 97% { opacity: 0; }
	98%, 100% { opacity: 1; }
}

@-moz-keyframes slideTwo {
	0%, 15% { opacity: 0;}
	17%, 32% { opacity: 1; }
	33%, 100% { opacity: 0; }
}

@-moz-keyframes slideThree {
	0%, 32% { opacity: 0; }
	34%, 49% { opacity: 1; }
	50%, 100% { opacity: 0; }
}

@-moz-keyframes slideFour {
	0%, 49% { opacity: 0; }
	51%, 66% { opacity: 1; }
	67%, 100% { opacity: 0; }
}

@-moz-keyframes slideFive {
	0%, 66% { opacity: 0; }
	68%, 83% { opacity: 1; }
	84%, 100% { opacity: 0; }
}

@-moz-keyframes slideSix {
	0%, 83% { opacity: 0; }
	85%, 98% { opacity: 1; }
	99%, 100% { opacity: 0; }
}