#location {
	
	& > div {
		background: transparent url(/images/bg-ghost-01.png) no-repeat right -12px;
	}
	
	section {
		padding-top: 20px;
	}
}

.location {
	
	margin: 2em 0 0.5em 0;
	
	h2 {
		@include rabiohead(1.45em);
		margin: -0.4em 0 0.4em 0;
	}
	
	ul {
		background-color: #fff;
		@include border-radius(1px);
		@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 4px);
		display: inline-block;
		float: left;
		margin-left: .95641026%;
		padding-top: 26.5%;
		position: relative;
		@include rotate(-0.4deg);
		width: 39.625%;
		
		&:before {
			@extend .tape;
			left: 45%;
			top: -10px;
			width: 47px;
			z-index: 2;		
		}
	}
	
	li {
		@include animation-duration(24s);
		@include animation-iteration-count(infinite);
		left: 1.6%;
		margin: 0 auto;
		opacity: 0;
		position: absolute;
		top: 1.7%;
		width: 97%;
	}
	
	li:first-child {
		@include animation-name(slideOne);
		opacity: 1;
	}
	
	li:nth-of-type(2) {
		@include animation-name(slideTwo);
	}
	
	li:nth-of-type(3) {
		@include animation-name(slideThree);
	}
	
	li:nth-of-type(4) {
		@include animation-name(slideFour);
	}
	
	li:nth-of-type(5) {
		@include animation-name(slideFive);
	}
	
	li:nth-of-type(6) {
		@include animation-name(slideSix);
	}
	
	img {
		width: 100%;
	}
}

.directions div:last-child {
	background-color: #fff;
	@include border-radius(1px);
	@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 4px);
	display: inline-block;
	float: right;
	margin-right: .95641026%;
	padding: 0.75% 0;
	position: relative;
	@include rotate(0.4deg);
	width: 39.625%;
	
	img {
		display: block;
		margin: 0 auto;
		width: 97%;
	}
	
	&:before {
		background: transparent url(/images/people-tape.png) no-repeat left top;
		content: " ";
		display: inline-block;
		height: 25px;
		left: 45%;
		position: absolute;
		top: -10px;
		@include rotate(8deg);
		width: 47px;
		z-index: 2;		
	}
}

@-webkit-keyframes slideOne {
	0%, 15% { opacity: 1; }
	17%, 97% { opacity: 0; }
	98%, 100% { opacity: 1; }
}

@-webkit-keyframes slideTwo {
	0%, 15% { opacity: 0;}
	17%, 32% { opacity: 1; }
	33%, 100% { opacity: 0; }
}

@-webkit-keyframes slideThree {
	0%, 32% { opacity: 0; }
	34%, 49% { opacity: 1; }
	50%, 100% { opacity: 0; }
}

@-webkit-keyframes slideFour {
	0%, 49% { opacity: 0; }
	51%, 66% { opacity: 1; }
	67%, 100% { opacity: 0; }
}

@-webkit-keyframes slideFive {
	0%, 66% { opacity: 0; }
	68%, 83% { opacity: 1; }
	84%, 100% { opacity: 0; }
}

@-webkit-keyframes slideSix {
	0%, 83% { opacity: 0; }
	85%, 98% { opacity: 1; }
	99%, 100% { opacity: 0; }
}

@-moz-keyframes slideOne {
	0%, 15% { opacity: 1; }
	17%, 97% { opacity: 0; }
	98%, 100% { opacity: 1; }
}

@-moz-keyframes slideTwo {
	0%, 15% { opacity: 0;}
	17%, 32% { opacity: 1; }
	33%, 100% { opacity: 0; }
}

@-moz-keyframes slideThree {
	0%, 32% { opacity: 0; }
	34%, 49% { opacity: 1; }
	50%, 100% { opacity: 0; }
}

@-moz-keyframes slideFour {
	0%, 49% { opacity: 0; }
	51%, 66% { opacity: 1; }
	67%, 100% { opacity: 0; }
}

@-moz-keyframes slideFive {
	0%, 66% { opacity: 0; }
	68%, 83% { opacity: 1; }
	84%, 100% { opacity: 0; }
}

@-moz-keyframes slideSix {
	0%, 83% { opacity: 0; }
	85%, 98% { opacity: 1; }
	99%, 100% { opacity: 0; }
}