[role='main'] {
	padding-left: 3.5416667%;
	
	&:before {
		background: transparent url(/images/buildings-large.png) no-repeat 19em center;
		@include background-size('140%');
		content: " ";
		display: inline-block;
		max-width: 885px;
		padding-top: 76%;
		position: absolute;
		top: -10em;
		right: 0;
		width: 75%;
	}
}