[role='navigation'] {
	border-top: 20px solid #2e2e2e;
	border-bottom: 14px solid #2e2e2e;
	@include ostrichBlack(2.75em, 0.7em);
	padding: 12px 0 2px 0;
	
	ul {
		overflow: hidden;
		position: relative;
		width: 54.2916667%;
		z-index: 95;		
	}
	
	li {
		display: inline-block;
		line-height: 1em;
		margin-right: auto;
		position: relative;
		text-align: center;
		width: 36.1515152%;
		
		&:first-child {
			text-align: left;
			width: 30.1515152%;
		}
		
		&:last-child {
			position: absolute;
			right: 0;
			text-align: right;
			width: 25.1515152%;
		}
	}
	
	a {
		color: #2e2e2e;
		text-decoration: none;
		
		&:hover {
			color: #494949;
		}		
		
		width: 100%;
	}
}