#nav-main {
	border-top: 8px solid #424242;
	border-bottom: 15px solid #424242;
	font-family: 'Ostrich Sans';
	font-weight: 800;
	margin-top: 3%;
	padding-top: 0.4em;
	
	li {
		display: inline-block;
		font-size: 2.8em;
		margin-right: 3.3%;
	}
	
	a {
		color: #323d4d;
		display: inline-block;
		text-decoration: none;
		line-height: 0.5em;
		
		&:hover {
			background-color: $highlightColor;
		}
	}
	
	.register-link {
		background-color: $highlightColor;
		line-height: 0.8em;
		
		a {
			color: #262626;
			
			&:hover {
				color: #000;
			}
		}
	}
}