.people {
	
	@media screen and (min-width: 630px) {
		width: 90%;
	}
	
	li {
		background-color: #fff;
		@include border-radius(1px);
		@include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 4px);
		display: inline-block;
		margin: 1.2em 2.0416667% 0 0;
		position: relative;
		@include rotate(-0.4deg);
		vertical-align: top;
		width: 98%;
		
		@media screen and (min-width: 500px) {
			width: 45%;
		}
		
		@media screen and (min-width: 630px) {
			width: 31.2916667%;
		}
		
		&:nth-child(2n) {
			@include rotate(0.1deg);
			
			&:before {
				@include rotate(-2deg);
			}
			
			p {
				@include rotate(-0.1deg);
			}
		}
		
		&:nth-child(3n) {
			margin-right: 0;
			@include rotate(0.5deg);
			
			&:before {
				@include rotate(25deg);
			}
			
			p {
				@include rotate(-0.5deg);
			}
		}
		
		&:before {
			@extend .tape;
		}
		
		p {
			float: left;
			font-size: 0.75em;
			overflow: hidden;
			padding: 0 0 3% 3%;
			@include rotate(0.4deg);
		}
	}
	
	img {
		display: inline-block;
		float: left;
		margin: 3% 2% 3% 3%;
	}
	
	img + a {
		display: inline-block;
		float: left;
		@include rabiohead(1.6em);
		margin-top: 3%;
		padding-left: 3%;
	}
}