#schedule {
	section section {
		float: left;
		width: 33%;
	}
}

dl {
	font-size: 0.85em;
	line-height: 1.4em;
	overflow: hidden;
	padding: 0.5em 0;
}

dt {
	clear: left;
	color: #000;
	float: left;
	min-width: 4.5em;
	padding-bottom: 0.7em;
	text-align: right;
	width: 25%;
}

dd {
	clear: right;
	color: #757575;
	float: right;
	width: 65%;
}